* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body {
    padding: 0;
    margin: 0;
}

#container {
    width: 1024px;
    height: auto;
    background-color: #504E4E;
    margin: 0 auto;

}

#container-interno {
    width: 100%;
    padding: 0 20px;
}

.header {
    width: 100%;
    height: 135px;
    background-color: #121212;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    /* grid template columns fr faz as colunas exemplo as 4 fr acima */
    gap: 10px;
    align-content: center;
}

.item {
    color: #FFF;
    padding: 10px;

}

.fundo-branco {
    background-color: #fff;
}

.pesquisar {
    width: 100%;
    padding: 10px;
}

.texto-menu {
    color: #FFF;
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    padding: 20px;
}

.texto-navbar {
    color: #100681;
    text-decoration: none;
    font-weight: bold;
}

.item-navbar {
    align-self: center;
    font-weight: bold;
}

.texto-principal {
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    margin: 40px 0px;
    font-weight: bold;

}

.banner {
    width: 100%;
}

.banner-img {
    width: 100%;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    padding: 20px;

}

.categorias-img {
    width: 100%;
    height: 272px;
}

.promoçoes {
    margin-top: 40px;
}

.promoçoes-titulo {
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.promocoes-figure{
    background-color: #FFF;
    text-align: center;
    padding: 10px;
}

.promocoes-img{
    width: 100%;
}

/*altera o tamanho padão de cada item do carrosel*/
.carousel__slide{
    /*define que a largura máxima de cada item do carrosel vai ser de 40% p padrão é 60px */
    max-width: var(--carrosel-slide-width,40%);
}

.banner2{
    margin-top: 40px;
    width: 100%;
}

.banner2-img{
    width: 100%;
}

.rodape{
    background-color:black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #fff;
}

.rodape-item{
    padding: 20px;
}

.rodape-titulo{
    /*para deixar todo o texto em letra maiuscula*/
    text-transform: capitalize;
    font-weight: bold;
}

.rodape-texto{
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
}
/*final Desktop*/

/*inicio da versão mobile*/
/*media query*/
@media only screen and (max-width: 768px){
    #container{
        width: 100%;
    }

    .header{
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
        padding: 0px;
    }

    .pesquisar{
        width: 100%;
    }

    .item{
        padding: 5px;
    }

    .navbar{
        grid-template-columns: 1fr;
    }

    .item-navbar{
        padding: 10px;
    }

    .categorias{
        grid-template-columns: 1fr;
    }

    .rodape{
        grid-template-columns: 1fr;
    }

}
/*final versão mobile*/

